.js-location {
  position: absolute;
  left: 25px;
  bottom: 25px;
  cursor: default;
}

.location__text {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.5px;
  opacity: 0.65;
  transition: opacity 0.3s ease-in;
}

.location__text:hover {
  opacity: 1;
}
